// screen size definition from bootstrap

// min
$up-sm: 576px;
$up-md: 768px;
$up-lg: 992px;
$up-xl: 1200px;

$up-sm: '(min-width: #{$up-sm})';
$up-md: '(min-width: #{$up-md})';
$up-lg: '(min-width: #{$up-lg})';
$up-xl: '(min-width: #{$up-xl})';

// max
$down-xs: 575.98px;
$down-sm: 767.98px;
$down-md: 991.98px;
$down-lg: 1199.98px;

$down-xs: '(max-width: #{$down-xs})';
$down-sm: '(max-width: #{$down-sm})';
$down-md: '(max-width: #{$down-md})';
$down-lg: '(max-width: #{$down-lg})';

// between
// ...